<div class="sidebar" data-color="purple">

  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="/admin">
          <img src="../../../assets/img/logo.png" alt="logo">
      </a>
    </div>

    <ul class="nav">
      <li>
        <a href="/admin">
          <i class="fas fa-chart-line"></i>
          <p>Dashboard</p>
        </a>
      </li>
     
      <li>
        <a href="/admin/phim">
            <i class="fas fa-film"></i>
          <p>Quản lý phim</p>
        </a>
      </li>

      <li>
        <a href="/admin/nguoidung">
          <i class="far fa-user"></i>
          <p>Quản lý Users</p>
        </a>
      </li>
    </ul>
  </div>
  <div class="sidebar-background"></div>
</div>