.content-table{
    padding: 30px 15px;
    min-height: calc(100% - 123px);
    position: relative;
    z-index: 2;
    float: right;
    width: calc(100% - 260px);
}

.card{
    margin: 20px 0;
}
.card h4{
    color: orange;
}
#tblPhim{
    font-size: 13px;
}
.title{
    padding: 10px 0;
    font-size: 30px;
    font-weight: 700;
}
.table-content{
    font-size: 14px;
}
.btn{
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

.btn:hover{
    background-color: transparent;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btnTimKiem,
.btnThemPhim,
.btnCapNhat{
    background-color:  rgb(254, 132, 49);
    border: 2px solid  rgb(254, 132, 49);
}

.btnTimKiem:hover,
.btnThemPhim:hover,
.btnCapNhat:hover{
    color:  rgb(254, 132, 49);
    border: 2px solid  rgb(254, 132, 49);
}

.btnXoa{
    background-color:  rgb(68, 68, 68);
    border: 2px solid  rgb(68, 68, 68);
}

.btnXoa:hover{
    color:  rgb(68, 68, 68);
    border: 2px solid  rgb(68, 68, 68);
}
#tblUser{
    font-size: 13px;
}