
  <h2 class="heading">Tin Tức</h2>
  <hr>
  <div class="row row-45 text-md-left">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="blog-post thumbnail-1 thumbnail-mod-2"><img src="../../../assets/img/index-8.jpg" alt="">
        <div class="caption">
          <div class="blog-post-title">
            <h5 class="text-success-custom">
              <a href="/tintuc">Better Call Saul - Người thừa kế xứng đáng của "Breaking Bad"</a>
            </h5>
          </div>
          <div class="blog-post-time">
            <time>23/04/2019</time>
          </div>
          <div class="blog-post-body">
            <p>Series thuộc thể loại tội phạm - tâm lý Breaking Bad (tạm dịch: Biến Chất) của đài AMC gồm 5 mùa (2008-2013) đã tạo nên
            một cơn địa chấn trong lịch sử truyền hình nước Mỹ...</p>
            <a class="comment" href="#">
              <i class="fas fa-comment"></i>
              2
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="blog-post thumbnail-1 thumbnail-mod-2"><img src="../../../assets/img/index-9.jpg" alt="">
        <div class="caption">
          <div class="blog-post-title">
            <h5 class="text-success-custom text-transform-none">
              <a href="/tintuc">Single Parents – Cha mẹ đơn thân</a>
            </h5>
          </div>
          <div class="blog-post-time">
            <time>26/10/2018</time>
          </div>
          <div class="blog-post-body">
            <p>Bộ phim xoay quanh nhóm các cha mẹ đơn thân, cùng giúp đỡ nhau nuôi dạy những đứa con 7 tuổi và duy trì cuộc sống riêng
            ngoài công việc làm cha mẹ...
              </p>
            <a class="comment" href="#">
              <i class="fas fa-comment"></i>
              2
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-12 col-lg-4">
      <div class="blog-post thumbnail-1 thumbnail-mod-2"><img src="../../../assets/img/index-10.jpg" alt="">
        <div class="caption">
          <div class="blog-post-title">
            <h5 class="text-success-custom text-transform-none">
              <a href="/tintuc">Top 3 phim kinh dị nhất mọi thời đại</a>
            </h5>
          </div>
          <div class="blog-post-time">
            <time>28/12/2018</time>
          </div>
          <div class="blog-post-body">
            <p>Ống kính máy ảnh hay camera của điện thoại thật sự đã giúp chúng ta lưu giữ nhiều khoảnh khắc đẹp cũng như những kỉ
            niệm đáng nhớ của bản thân. Nhưng bạn có bao giờ nghĩ rằng, những tấm ảnh chụp tưởng chừng vô tri ấy lại có thể trở
            thành cơn ác mộng cho những người bấm máy?...</p>
            <a class="comment" href="#">
              <i class="fas fa-comment"></i>
              2
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
        <button class="btn" routerLink = "/tintuc">XEM THÊM</button>
    </div>
  </div>
  
