<div class="container">
  <h2>Điện Ảnh 24h</h2>
  <hr>
  <div class="row">
    <div class="col-12 col-md-6 col-xl-4">
      <article class="blog-post thumbnail"><img src="../../../assets/img/blog-2.jpg" alt="">
        <div class="caption-mod-1">
          <div class="blog-post-time">
            <time>By An Thi 23/04/2019</time>
          </div>
          <div class="blog-post-title">
            <h4 class="text-success-custom">
              <a href="#">Better Call Saul - Người thừa kế xứng đáng của "Breaking Bad"</a>
            </h4>
          </div>
          <div class="blog-post-body text-md-left">
            <p>Series thuộc thể loại tội phạm - tâm lý Breaking Bad (tạm dịch: Biến Chất) của đài AMC gồm 5 mùa
              (2008-2013) đã tạo nên
              một cơn địa chấn trong lịch sử truyền hình nước Mỹ...</p>
          </div>
          <div class="blog-post-footer">
            <a class="text-gray" href="#">2 Comments</a>
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <article class="blog-post thumbnail"><img src="../../../assets/img/blog-3.jpg" alt="">
        <div class="caption-mod-1">
          <div class="blog-post-time">
            <time>By An Thi 23/04/2019</time>
          </div>
          <div class="blog-post-title">
            <h4 class="text-success-custom"><a href="#">Single Parents – Cha mẹ đơn thân</a></h4>
          </div>
          <div class="blog-post-body text-md-left">
            <p>Bộ phim xoay quanh nhóm các cha mẹ đơn thân, cùng giúp đỡ nhau nuôi dạy những đứa con 7 tuổi và duy trì
              cuộc sống riêng
              ngoài công việc làm cha mẹ...</p>
          </div>
          <div class="blog-post-footer">
            <a class="text-gray" href="#">2 Comments</a>
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <article class="blog-post thumbnail"><img src="../../../assets/img/blog-4.jpg" alt="">
        <div class="caption-mod-1">
          <div class="blog-post-time">
            <time>By An Thi 23/04/2019</time>
          </div>
          <div class="blog-post-title">
            <h4 class="text-success-custom"><a href="#">Top 3 phim kinh dị nhất mọi thời đại</a></h4>
          </div>
          <div class="blog-post-body text-md-left">
            <p>Ống kính máy ảnh hay camera của điện thoại thật sự đã giúp chúng ta lưu giữ nhiều khoảnh khắc đẹp cũng
              như những kỉ
              niệm đáng nhớ của bản thân. Nhưng bạn có bao giờ nghĩ rằng, những tấm ảnh chụp tưởng chừng vô tri ấy lại
              có thể trở
              thành cơn ác mộng cho những người bấm máy?...</p>
          </div>
          <div class="blog-post-footer">
            <a class="text-gray" href="#">2 Comments</a>
          </div>
        </div>
      </article>
    </div>
    <div class="col-12 col-md-6 col-xl-4">
      <article class="blog-post thumbnail"><img src="../../../assets/img/blog-5.jpg" alt="">
        <div class="caption-mod-1">
          <div class="blog-post-time">
            <time>By An Thi 23/04/2019</time>
          </div>
          <div class="blog-post-title">
            <h4 class="text-success-custom"><a href="#">Iron Man 3: Phút đen tối nhất trong cuộc đời Người Sắt</a></h4>
          </div>
          <div class="blog-post-body text-md-left">
            <p>Sau cuộc chiến sống còn cùng đội Avengers, Tony Stark và cô vợ yêu Pepper Potts quay về ở ẩn trong căn
              biệt thự tuyệt đẹp (mà chúng ta từng thấy trong phần 1). Trong trailer này cũng đã bật mí về đối thủ
              chính của Tony Stark - Iron Man, chính là The Mandarin (Ben Kingsley đóng)...</p>
          </div>
          <div class="blog-post-footer">
            <a class="text-gray" href="#">2 Comments</a>
          </div>
        </div>
      </article>
    </div>
  </div>
  <ul class="pagination justify-content-center">
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>