/* @font-face {
    font-family: Nexa-Light;
    src: url('../../../assets/font/SVN-Nexa Light.ttf'); 
  }

@font-face {
    font-family: Nexa-Bold;
    src: url('../../../assets/font/SVN-Nexa Bold.ttf'); 
  } */